{% set pts = salt['grains.filter_by']({
    'default': {
        'pkgs': ['php-cli', 'php-xml', 'bzip2', 'time', 'numactl-devel'],
        'repo': 'https://github.com/jgartrel/af-pts-repo.git',
        'symlink_repo': False,
        'user': 'pts',
        'home': '/home/pts'
    },
}, grain="os_family", merge=salt['pillar.get']('pts:lookup')) %}
